.technologies_box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.technologies_box div h3 {
  font-size: var(--title);
}

.add {
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.technologies_box ul {
  max-height: 335px;
  background-color: var(--color-gray-3);
  padding: 20px 8px;
  border-radius: 5px;
  display: grid;
  gap: 15px;
  overflow-y: auto;
}

.technologies_box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-4);
  padding: 14px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.technologies_box li:hover {
  background-color: var(--color-gray-2);
}

.technologies_box li h4 {
  font-size: var(--title);
}

.technologies_box li p {
  font-size: var(--headline);
  color: var(--color-gray-1);
}